{% extends 'analysis.html' %}
{% load static %}
{% block title %}
CoWeb - Search for Plasma
{% endblock %}

{% block body %}
<style>
body{
    overflow: hidden;
}
.card{
    background-color: #c1c1c1;
    width: 100%;
}
.card-title{
    font-weight: 800;
}
.card-body{
    background-color: white;
    width: 70%;
    margin: 5rem;
    align-self: center;
    border-color: beige;
    border-width: medium;
    border-style: groove;
    padding: 2.5rem;
    margin-bottom: 10rem;
    text-align-last: left;
    border-radius: 1rem;
}
.search{
    margin: 2rem;
}
.filterbtn{
    border-radius: 5rem;
}
.btn-group{
    padding-left: 12rem;
}
</style>
<body>

<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Search for Plasma</h5>
    <p class="card-text">Try searching using Pincode or district name.</p>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primaryfilterbtn" for="btnradio1">Search By District</label>

 

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary filterbtn" for="btnradio3">Search By Pincode </label>
</div>
<div class="search">
   <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Enter your pincode" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>
  </div>
</div>
</body>
{% endblock %}